html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/style.css')
  body
    div#success
      h1.heading= heading
      div
      if authorized
        div.message= message
      else
        div.message
          a(href=message target='_newtab') Click here to get authorization code...
      
        form(method='POST' action='/api/home')
          label(for='auth-key') Enter key here:
          br
          input(type='text', class='token',  id='token' name='token' placeholder='Access Key....')
          input(type='submit', value='submit')